.eventComponent2{
    display: inline-block !important;
    overflow: auto;
    height: 200PX;
    width: 430PX !important;
    background-color: #badafc !important;
    margin-right: 20PX !important;
}
/* ::-webkit-scrollbar{
    display: none;
} */
.select_middle{
    margin: 0 5PX !important;
    width: 180PX !important;
}
.select_middle:nth-child(2){
    margin-left: 0 !important;
    margin-right: 2PX !important;
}
.listitem{
    padding: 6PX 0 !important;
    border: 0;
}
